[INCLUDES]

before = paths-debian.conf

[DEFAULT]

ignoreip = {{ fail2ban_ignore_ip }}
bantime  = {{ fail2ban_ban_time }}
findtime = {{ fail2ban_find_time }}
maxretry = {{ fail2ban_max_retry }}
backend = auto
usedns = warn
banaction = {{ fail2ban_ban_action }}
mta = mail
protocol = tcp
chain = INPUT
action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s", sendername="%(sendername)s"]
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s", sendername="%(sendername)s"]
action = {{ fail2ban_action }}

[ssh]
enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 3

